<!-- .erb means extended ruby, it allows using ruby language inside the html file -->

<!-- this html.erb file is automatically found by users_list which is present in users_controller.rb -->
<h1>Inside Users Controller > Users List</h1>


<!-- printing a class variable [data sent from controller] -->



<% @users.reverse.each do |u| %>
<%= u.name %>
<br>
<% end %>












