<h1>Create New Post</h1>


<form action="/posts" method="post">

	<label for="title">Title</label>
	<input name="title" type="text" id="title">
	<br>

	<label for="content">Content</label>
	<textarea name="content" id="content"></textarea>

	<br>

	<input type="submit">


</form>